streamlit==1.18.*
snowflake==*
snowflake-snowpark-python==0.7.0
snowflake-connector-python==2.8.3
-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/main/tested_requirements/requirements_38.reqs
